.app_navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  .cart {
    position: relative;
      
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem;
      border: 1px solid lightblue;
      border-radius: 50%;

      & > * {
        font-weight: bold;
        font-size: 1.2rem;
        color: blue;
      }
    }
    .itemCount {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: darkred;
      width: 1.4rem;
      height: 1.4rem;
      padding: 0.6rem;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border: none;
      border-radius: 50%;
      transform: translate(37.5%, 37.5%);
    }
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;

    li {
      cursor: pointer;
    }
  }

}